(
  name:"de",
  words:{
    "tried" : "Versucht",
    "next" : "Weiter",
    "no-questions" : "Keine Frage geladen",
    "card-error" : "Karte nicht vorbereitet",
    "right-factor" : "Richtig",
    "right" : "Richtig insgesamt",
    "search" : "Suche",
    "databases" : "Datenbanken",
    "duration" : "Dauer",
    "version" : "Version",
    "default-theme": "Normal",
    "settings" : "Einstellungen",
    "language" : "Sprache",
    "english" : "Englisch",
    "german" : "Deutsch",
    "dark-theme" : "Dunkel",
    "light-theme" : "Hell",
    "system" : "System",
    "theme" : "Thema",
    "feedback" : "Sofortrückmeldung",
    "question" : "Frage",
    "start" : "Starte",
    "false" : "Falsch",
    "delete" : "Löschen",
    "count" : "Anzahl",
    "date" : "Datum",
    "kategory" : "Kategorie",
    "kategories" : "Kategorien",
    "minutes" : "Minuten",
    "minute" : "Minute",
    "evaluate" : "Auswerten",
    "test" : "Test",
    "progress" : "Fortschritt",
    "ongoing" : "Fortlaufend",
    "no-db-found" : "Keine Datenbank gefunden",
    "results" : "Ergebnisse",
    "last-time" : "Letze Abfrage",
    "select" : "Auswählen",
  },
)
