(
  name:"en",
  words:{
    "next" : "Next",
    "tried": "Tried",
    "no-questions": "No question",
    "card-error" : "Question not loaded",
    "search" : "Search",
    "databases" : "Databases",
    "duration" : "Duration",
    "version" : "Version",
    "settings" : "Settings",
    "dark-theme" : "Dark",
    "default-theme" : "Default",
    "language" : "Language",
    "english" : "English",
    "german" : "German",
    "light-theme" : "Light",
    "system" : "System",
    "theme" : "Theme",
    "feedback" : "Instant feedback",
    "question" : "Question",
    "start" : "Start",
    "false" : "Wrong",
    "right-factor" : "Right factor",
    "right" : "Right",
    "delete" : "Delete",
    "count" : "Count",
    "date" : "Date",
    "kategory" : "Kategory",
    "kategories" : "Kategories",
    "minutes" : "Minutes",
    "minute" : "Minute",
    "evaluate" : "Evaluate",
    "test" : "Test",
    "progress" : "Progress",
    "ongoing" : "Ongoing",
    "no-db-found" : "No Db found",
    "results" : "Results",
    "last-time" : "Last occasion",
    "select" : "Select",
  },
)
